@font-face{
    font-family: 'iransans';
    src: url(../fonts/iransans/IRANSansWeb.woff) format('woff');
}

@font-face{
    font-family: 'iransansLight';
    src: url(../fonts/iransans/IRANSansWeb_Light.woff) format('woff');
}