body{
    font-family: iransans;
}

a:hover{
    color: #ff1744 !important;
    /*color: #28a745 !important;*/
}


/* ******** Footer CSS Cods ******** */
#footer{
    background-color: #343a40;
}
#footer p{
    color: white;
    font-size: 14px;
}
#socialNetwork  li{
    list-style-type: none;
    display: inline;
}
#footer a{
    color: white;
    font-size: 14px;
}
#usefulLinks{
    color: #ff1744 ;
}

#usefulLinks a{
    text-decoration: none;
}
hr{
    padding: 0;
    margin: 0;
    width: 20%;
    height: 1px;
    float: right;
}